body {
    background-image: url("photos/earth_forest_4k_hd.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: rgb(11, 245, 167);
    background-color: #00453a;
    text-align: center;
    
}

p {
    background-color: darkseagreen;
    display: inline;
}

ul {
    list-style: square;
    color: white;
}

ol {
    list-style: decimal-leading-zero;
    color: white;
    margin-left: 10px;
}

a {
    color: rgba(7, 111, 231, 0.793);
    background-color: rgb(184, 248, 73);
    margin-left: 5px;
}